body {
    height: 100vh;
}

.center {
    margin: auto;
    width: 60%;
    min-height: 100%;
}

.channel {
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.box {
    max-width: 80%;
    margin: 0px auto;
    background: #00bfb6;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    font-weight: 900;
    word-wrap: break-word;
    margin-right: 40px;
    color: #fff;
    font-family: arial;
    position: relative;
    display: inline-block;
    white-space: pre;
}

.sb2:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #00bfb6;
    border-top: 10px solid #00bfb6;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 6px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-left: 10px;
    padding-right: 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
